html,
body,
#gameDiv {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
}

#signDivChild {
    background: #119305;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -150px;
}

#box {
    position: absolute;
    top: 5%;
    left: 10%;
}

#signDiv-signIn {
    position: absolute;
    left: 50%;
    border-radius: 15px;
}

h1 {
    font-weight: bold;
    text-align: center;
    size: 20px;
}

#gameDiv {
    display: none;
}

#ctx-div {
    border: 5px solid #b8d2d3;
    background: #c7e4e5;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    right: 100px;
    top: 100px;
}

canvas#ctx {
    cursor: crosshair;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 0;
}

canvas#ctx-ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

canvas {
    margin 0px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#shop-div {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 0px;
    z-index: 2;
}

#shop-button {
    position: absolute;
    left: 90%;
    top: 93%;
}

#shop-div-menu {
    border: 5px solid #b8d2d3;
    background: #c7e4e5;
    border-radius: 15px;
    display: none;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#chat {
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    left: 0;
    top: 75%;
    height: 25%;
    width: 20%;
    z-index: 2;
}

#chat-text {
    height: 90%;
    overflow: auto;
}

#chat-input {
    height: 100%;
    width: 100%;
}

span.nameTag {
    position: absolute;
    color: white;
    z-index: 1;
}
