html,
body,
#gameDiv {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
}

#signDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

input#signDiv-username {
    position: absolute;
    top: 85%;
    width: 18%;
    height: 5%;
    background: #042941;
    border: 0;
    border-bottom: 1vh solid #345e79;
    color: white;
    font-size: 2vh;

    /* to center element */
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

#signDiv-button {
    position: absolute;
    border-radius: 15px;
    display: none;
}

#gameDiv {
    visibility: hidden;
}

#ctx-div {
    border: 5px solid #b8d2d3;
    background: #c7e4e5;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    right: 100px;
    top: 100px;
}

canvas {
    margin: 0px;
    position: absolute;
    width: 100%;
}

canvas.centered {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas.pixelated {
    /* pixelated for chrome only */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

canvas#ctx {
    z-index: 0;
    visibility: visible;
}

canvas#ctx-ui {
    top: 0;
    left: 0;
}

canvas#autorendered-canvas {
    width: 100%;
    height: 100%;
}

#shop-div {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 0px;
    z-index: 2;
}

#shop-button {
    position: absolute;
    left: 90%;
    top: 93%;
}

#shop-div-menu {
    border: 5px solid #b8d2d3;
    background: #c7e4e5;
    border-radius: 15px;
    display: none;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    left: 100px;
    top: 100px;
}

#uiDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#statusbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    /* pixelated for chrome only */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#chat {
    background-color: rgba(100, 100, 100, 0.4);
    position: absolute;
    left: 0;
    top: 75%;
    height: 25%;
    width: 20%;
    z-index: 2;
}

#chat-text {
    height: 90%;
    overflow: auto;
}

#chat-input {
    height: 100%;
    width: 100%;
}

#score {
    position: absolute;
    top: 94%;
    left: 74.5%;
    color: #DFA357;
    font-size: 3vh;
}
